@{
    ViewBag.Title = "contact us";
}
<h2>@ViewBag.Title</h2>

<address>
    Tongji University<br />
    Jiading ShangHai<br />   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:244322625@qq.com">244322625@qq.com</a><br />
</address>